# Import libraries

In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Read in Data

In [5]:
coordinates = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

From this dataframe, we will only need the station name and the station location.

In [7]:
station_names = coordinates[['Station Name', 'Station Location']]

In [12]:
#remove duplicates to ensure there is only one row per station
station_names.drop_duplicates(inplace=True)
#reset the index of the dataframe
station_names.reset_index(inplace=True)

In [13]:
#list of stations that were used in our research
list_of_stations = ['West 4th St','14th St','Houston St','14th St-Union Square','8th Av','1st Av','3rd Av','West 8th St','Astor Place','Bleecker St','Broadway-Lafayette St','Prince St','Christopher St','2nd Av','Bowery','Delancey St']

In [14]:
#filter on list above
shortened_list = station_names[station_names['Station Name'].isin(list_of_stations)]
# remove dupicates
shortened_list.drop_duplicates(subset='Station Name',inplace=True)

# Create Columns for Tablaeu visualization

In [16]:
#create Latitude and Longitude columns from station location
shortened_list['Latitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[0])
shortened_list['Latitude'] = shortened_list['Latitude'].apply(lambda x: x.replace('(',''))
shortened_list['Longitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[1].replace(')',''))

In [18]:
#this function maps the stations to the total number of riders from the previous table 
def add_values(station):
    if station == '14th St-Union Square':
        return 8126553.0
    elif station == '14th St':
        return 4455388.0
    elif station == 'West 4th St':
        return 3372397.0
    elif station == 'Broadway-Lafayette St':
        return 2471168.0
    elif station == '8th Av':
        return 2371595.0
    elif station == '1st Av':
        return 2224543.0
    elif station == 'Delancey St':
        return 1723831.0
    elif station == 'Astor Place':
        return 1498626.0
    elif station == '2nd Av':
        return 1493766.0
    elif station == 'Prince St':
        return 1337013.0
    elif station == 'Christopher St':
        return 1198269.0
    elif station == 'West 8th St':
        return 1086853.0
    elif station == 'Houston St':
        return 809383.0
    elif station == '3rd Av':
        return 666111.0
    elif station == 'Bleecker St':
        return 533771.0
    elif station == 'Bowery':
        return 291214.0

In [19]:
#apply the function to the table and create a total exits column
shortened_list['Total_Exits'] = shortened_list['Station Name'].apply(add_values)

In [20]:
shortened_list

,level_0,index,Station Name,Station Location,Latitude,Longitude,Total_Exits
20,20,71,14th St,"(40.738228, -73.996209)",40.738228,-73.996209,4455388.0
22,22,89,2nd Av,"(40.723402, -73.989938)",40.723402,-73.989938,1493766.0
30,30,153,Broadway-Lafayette St,"(40.725297, -73.996204)",40.725297,-73.996204,2471168.0
33,33,169,Delancey St,"(40.718611, -73.988114)",40.718611,-73.988114,1723831.0
69,69,361,West 4th St,"(40.732338, -74.000495)",40.732338,-74.000495,3372397.0
98,98,454,West 8th St,"(40.576127, -73.975939)",40.576127,-73.975939,1086853.0
112,112,530,Prince St,"(40.724329, -73.997702)",40.724329,-73.997702,1337013.0
145,145,687,Christopher St,"(40.733422, -74.002906)",40.733422,-74.002906,1198269.0
148,148,699,Houston St,"(40.728251, -74.005367)",40.728251,-74.005367,809383.0
175,175,789,1st Av,"(40.730953, -73.981628)",40.730953,-73.981628,2224543.0
176,176,793,3rd Av,"(40.732849, -73.986122)",40.732849,-73.986122,666111.0
178,178,799,8th Av,"(40.739777, -74.002578)",40.739777,-74.002578,2371595.0
316,316,1290,14th St-Union Square,"(40.734673, -73.989951)",40.734673,-73.989951,8126553.0
326,326,1362,Astor Place,"(40.730054, -73.99107)",40.730054,-73.99107,1498626.0
327,327,1364,Bleecker St,"(40.725915, -73.994659)",40.725915,-73.994659,533771.0
356,356,1454,Bowery,"(40.72028, -73.993915)",40.72028,-73.993915,291214.0

In [49]:
shortened_list.to_csv('subway_locations3.csv',index=False)