In [1]:
import pandas as pd

In [2]:
coordinates = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

In [11]:
coordinates.head()
station_names = coordinates[['Station Name', 'Station Location']]

In [15]:
station_names.drop_duplicates(inplace=True).reset_index()

<ipython-input-15-4a290ddec420>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_names.drop_duplicates(inplace=True).reset_index()

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [18]:
list_of_stations = ['West 4th St','14th St','Houston St','14th St-Union Square','8th Av','1st Av','3rd Av','West 8th St','Astor Place','Bleecker St','Broadway-Lafayette St','Prince St','Christopher St','2nd Av','Bowery','Delancey St']

In [29]:
shortened_list = station_names[station_names['Station Name'].isin(list_of_stations)]
shortened_list.drop_duplicates(subset='Station Name',inplace=True)

In [33]:
shortened_list.shape

(16, 2)

In [43]:
shortened_list['Latitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[0])
shortened_list['Latitude'] = shortened_list['Latitude'].apply(lambda x: x.replace('(',''))
shortened_list['Longitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[1].replace(')',''))
shortened_list['Longitude']

<ipython-input-43-6b324e11771a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_list['Latitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[0])
<ipython-input-43-6b324e11771a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_list['Latitude'] = shortened_list['Latitude'].apply(lambda x: x.replace('(',''))
<ipython-input-43-6b324e11771a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_list['Longitude'] = shortened_list['Station Location'].apply(lambda x: x.split(',')[1].replace(')',''))

71       -73.996209
89       -73.989938
153      -73.996204
169      -73.988114
361      -74.000495
454      -73.975939
530      -73.997702
687      -74.002906
699      -74.005367
789      -73.981628
793      -73.986122
799      -74.002578
1290     -73.989951
1362      -73.99107
1364     -73.994659
1454     -73.993915
Name: Longitude, dtype: object

In [44]:
shortened_list.to_csv('subway_locations2.csv',index=False)

In [46]:
def add_values(station):
    if station == '14th St-Union Square':
        return 8126553.0
    elif station == '14th St':
        return 4455388.0
    elif station == 'West 4th St':
        return 3372397.0
    elif station == 'Broadway-Lafayette St':
        return 2471168.0
    elif station == '8th Av':
        return 2371595.0
    elif station == '1st Av':
        return 2224543.0
    elif station == 'Delancey St':
        return 1723831.0
    elif station == 'Astor Place':
        return 1498626.0
    elif station == '2nd Av':
        return 1493766.0
    elif station == 'Prince St':
        return 1337013.0
    elif station == 'Christopher St':
        return 1198269.0
    elif station == 'West 8th St':
        return 1086853.0
    elif station == 'Houston St':
        return 809383.0
    elif station == '3rd Av':
        return 666111.0
    elif station == 'Bleecker St':
        return 533771.0
    elif station == 'Bowery':
        return 291214.0

In [47]:
shortened_list['Total_Exits'] = shortened_list['Station Name'].apply(add_values)

<ipython-input-47-f2bd4f5245ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_list['Total_Exits'] = shortened_list['Station Name'].apply(add_values)

In [48]:
shortened_list

,Station Name,Station Location,Latitude,Longitude,Total_Exits
71,14th St,"(40.738228, -73.996209)",40.738228,-73.996209,4455388.0
89,2nd Av,"(40.723402, -73.989938)",40.723402,-73.989938,1493766.0
153,Broadway-Lafayette St,"(40.725297, -73.996204)",40.725297,-73.996204,2471168.0
169,Delancey St,"(40.718611, -73.988114)",40.718611,-73.988114,1723831.0
361,West 4th St,"(40.732338, -74.000495)",40.732338,-74.000495,3372397.0
454,West 8th St,"(40.576127, -73.975939)",40.576127,-73.975939,1086853.0
530,Prince St,"(40.724329, -73.997702)",40.724329,-73.997702,1337013.0
687,Christopher St,"(40.733422, -74.002906)",40.733422,-74.002906,1198269.0
699,Houston St,"(40.728251, -74.005367)",40.728251,-74.005367,809383.0
789,1st Av,"(40.730953, -73.981628)",40.730953,-73.981628,2224543.0
793,3rd Av,"(40.732849, -73.986122)",40.732849,-73.986122,666111.0
799,8th Av,"(40.739777, -74.002578)",40.739777,-74.002578,2371595.0
1290,14th St-Union Square,"(40.734673, -73.989951)",40.734673,-73.989951,8126553.0
1362,Astor Place,"(40.730054, -73.99107)",40.730054,-73.99107,1498626.0
1364,Bleecker St,"(40.725915, -73.994659)",40.725915,-73.994659,533771.0
1454,Bowery,"(40.72028, -73.993915)",40.72028,-73.993915,291214.0

In [49]:
shortened_list.to_csv('subway_locations3.csv',index=False)